 :root{
	--mainColor:#ffffff;
	--background-image: linear-gradient(135deg, #ffffff 0%, #f8f8f8 70%, #ebf9d8 100%);
	--secondaryColor:#f0f0f0;
	--borderColor:#111111;
	--mainText:#111111;
	--secondaryText:#333333;
	--themeDotBorder:#111111;
	--previewBg:rgba(255, 255, 255, 0.95);
	--previewShadow:#b8e35a;
	--buttonColor:#111111;
}
