:root{
	--mainColor:rgb(119, 81, 141);
	--background-image :linear-gradient(-105deg, #ba5370 0%, #b686cc 74%);

	--secondaryColor:#b686cc;

	--borderColor:#1d1520;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(29, 21, 32, 0.8);
	--previewShadow:#4e3b55;


	--buttonColor:#8534a3;


}